In [1]:
import pandas as pd

ml_df = pd.read_csv("../data/processed/final_ml_dataset.csv")

ml_df.head()

   state    year  cases_lag1  cases_lag2  spatial_lag_cases risk_label
0  Assam  2021.0        33.0       196.0              200.5        Low
1  Assam  2022.0       103.0        33.0               52.0     Medium
2  Assam  2023.0      1826.0       103.0              143.0       High
3  Assam  2024.0      8208.0      1826.0             1185.5     Medium
4    Goa  2021.0       376.0       992.0            14907.0     Medium

In [3]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
ml_df["risk_encoded"] = le.fit_transform(ml_df["risk_label"])

ml_df[["risk_label", "risk_encoded"]].drop_duplicates()

  risk_label  risk_encoded
0        Low             1
1     Medium             2
2       High             0

In [4]:
# Define features and target
features = ["cases_lag1", "cases_lag2", "spatial_lag_cases"]
target = "risk_encoded"

# Split by year
train_df = ml_df[ml_df["year"] <= 2022]
test_df  = ml_df[ml_df["year"] > 2022]

X_train = train_df[features]
y_train = train_df[target]

X_test = test_df[features]
y_test = test_df[target]

print("Train size:", X_train.shape)
print("Test size:", X_test.shape)

Train size: (22, 3)
Test size: (22, 3)